# vim:fileencoding=utf-8:foldmethod=marker

# Custom Defaults {{{

# Search & Parse {{{

# fd
alias find=fd

# ripgrep
alias grep=rg

# sd
alias sed=sd

# }}}

# Utils {{{

# List
alias exa="exa --icons --color=always"
alias l="exa"
alias ls="exa -l"
alias la="exa -a"
alias lla="exa -la"

# Useful Stuff
alias ps=procs
alias cat=bat
alias top=ytop

# Tree
alias du=dust
alias tree=dust

# Package Manager
alias yay=paru

# Fetch
alias neofetch=freshfetch
alias fetch=freshfetch

# }}}

# }}}

