# Common {{{

# Core Utils
alias find=fd
alias ls=exa
alias cat=bat
alias ps=procs
alias sed=sd
alias du=dust
alias grep=ripgrep
alias top=ytop

# Package Manager
alias yay=paru

# Fetch
alias neofetch=freshfetch
alias fetch=freshfetch

# }}}

