/** Basic config file **/

configuration {
  show-icons      : true;
  icon-theme      : "Papirus";
  display-ssh     : "";
  display-run     : "";
  display-drun    : "";
  display-window  : "";
  display-combi   : "";
}
@theme "~/.config/rofi/themes/iceberg.rasi"
